.page-header__btn-learn {
  @extend %button;
  text-decoration: none;
  width: 160px;
  height: 40px;
  border: 3px solid $color-white;
  @include font-mixin($font-monserat, $fz-min, $text-transfotrm);
  @include color-fw($color-white, $text-bold);
  
  &:hover{
    box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
  }
}
