.team__item-name {
  text-align: center;
  font-family: $font-monserat;
  font-size: $fz-min;
  color: $color-amazing-item;
  text-transform: $text-transfotrm;
  margin-bottom: 10px;
  font-weight: bold;
}
