.page-header__btn-learn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 3px solid #fff;
    color: #fff;
}