.page-header__title {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 120px;
  @include color-fw($color-white,$text-bold);
  @include font-mixin($font-monserat, $fz-title, $text-transfotrm);
}
