.footer__text-email {
  font-style: italic;
  padding-left: 12px;
  width: 228px;
  border: 1px solid $color-border-text;
  border-right: none;
  color: $foter-color;
  height: 40px;

  &::placeholder {
    @include font-mixin($font-roboto, $fz-text);
    @include color-fw($foter-color, $text-italic);
  }
}
