.site-navigation__link{
    color: #fff;
    position: relative;
}
.site-navigation__link:hover{
    color:#fce38a;
}
.site-navigation__link:hover .icon-basket,
.site-navigation__link:hover .icon-search{
    fill:#fce38a;
}
.site-navigation__link:hover::after {
    transition: opacity 0.2s linear;
    opacity: 1;
  }
  .site-navigation__link::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: flex;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    margin: 0 auto;
    opacity: 0;
  }