.content {
  width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
}

/* site-navigation */

.site-navigation {
  padding: 0px;
  margin: 0px;
  font-size: 0px;
  padding-top: 75px;
  padding-bottom: 100px;
}

.site-navigation li{
  display: inline-block;
  list-style: none;
  width: 225px;
  text-align: center;
}

.site-navigation a{
  text-decoration: none;
  font-style: "Playfair Display";
  font-size: 14px;
  color: #626262;
  text-transform: uppercase;
  display: block;
}

.site-navigation a:hover{
  color: #03a9f4;
}
.site-navigation li:nth-child(1) a{
  color: #03a9f4;
}

/* main css */
.list-article{
  font-size: 0px;
}

.list-article-content{
  margin: 0px;
  padding: 0px;
  width: 420px;
  display: inline-block;
}

.list-article-content:nth-child(odd){
  margin-right: 60px;
}
.list-article-content{
  margin-bottom: 130px;
}
.list-article :nth-child(n+5){
  margin-bottom: 0px;
}

/* TEXT DECORATION */

.subhead {
  margin-top: 30px;
  margin-bottom: 25px;
  font-style: "Playfair Display";
  font-size: 14px;
  color: #b4ad9e;
  text-transform: uppercase;
}

.list-article-content h2 {
  margin-top: 25px;
  margin-bottom: 35px;
  font-style: "Playfair Display";
  font-size: 30px;
  font-weight: bold;
  color: #626262;
}
.subtext {
  margin-top: 35px;
  margin-bottom: 0px;
  font-style: "Playfair Display";
  font-size: 14px;
  color: #626262;
}
/* button */
.btnformat {
  text-align: center;
}
.btn {
  width: 164px;
  height: 60px;
  margin-top: 55px; 
  margin-bottom: 70px;
  background-color: #ffffff;
  border: 1px solid #626262;
  font-style: "Playfair Display";
  font-size: 20px;
  color: #626262;
}
