.footer__text-email::-webkit-input-placeholder{
    font-family: "Roboto";
  font-size: 15px;
    font-style: italic;
    color: #cccccc;

}
.footer__text-email:-ms-input-placeholder{
    font-family: "Roboto";
  font-size: 15px;
    font-style: italic;
    color: #cccccc;

}
.footer__text-email::-ms-input-placeholder{
    font-family: "Roboto";
  font-size: 15px;
    font-style: italic;
    color: #cccccc;

}
.footer__text-email::placeholder{
    font-family: "Roboto";
  font-size: 15px;
    font-style: italic;
    color: #cccccc;

}
.footer__text-email{
    font-style: italic;
    padding-left: 12px;
    width: 228px;
    border: 1px solid #e7e7e7;
    border-right: none;
    color: #cccccc;
    height: 40px;
}