* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo,
.Login,
.Signup,
.head-title,
.find,
.first-header,
.see {
  font-family: "Montserrat", sans-serif;
}

.Login,
.Signup,
.logo,
.head-title,
.head-subtitle,
.find {
  color: #fff;
}

.Login,
.Signup,
.logo,
.head-title,
.find {
  font-weight: bold;
}

.find,
.Login,
.Signup,
.see {
  font-size: 14px;
}

/* header */

.head {
  text-align: center;
  background-image: url("../baner.jpg");
  min-height: 540px;
  padding-top: 20px;
  margin-bottom: 68px;
}

.logo-btn {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 34px;
}

.a-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40px;
  width: 160px;
  margin-bottom: 114px;
}

.head-title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.head-subtitle {
  font-family: "Roboto";
  font-weight: lighter;
  padding: 0 50px;
  margin-bottom: 16px;
}

.find {
  display: flex;
  width: 282px;
  height: 40px;
  background: red;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: block;
  font-size: 20px;
}

.Login,
.Signup {
  display: block;
}

.Signup:hover,
.Login:hover {
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px 15px;
}
/* end header */


/* first section */
.list, .first-header {
  text-align: center;
}

.first-header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 14px;
}

.foto {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  margin-bottom: 18px;
}
.img-foto {
  display: inline-block;
}
.foto::after {
  content: "";
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  bottom: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  border: 4px solid #fff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-tv::after {
  background-color: #ff4e50;
  background-image: url("../img/icon/televizor.png");
}
.icon-butle::after {
  background-color: #ffa507;
  background-image: url("../img/icon/botle.png");
}
.icon-cofe::after {
  background-color: #1cd7ad;
  background-image: url("../img/icon/cofe.png");
}
.icon-telega::after {
  background-color: #4e73db;
  background-image: url("../img/icon/telega.png");
}

.article-title {
  font-weight: bold;
  color: #333333;
  margin-bottom: 12px;
}

.article-subtitle {
  font-family: "Roboto";
  font-size: 14px;
  color: #666666;
  font-weight: lighter;
}

.list-item:not(:last-child){
  margin-bottom: 28px;
}

.list{
  margin-bottom: 16px;
}

.see {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  border: 2px solid #ff4e50;
  border-radius: 30px;
  color: #ff4e50;
  margin: 0 auto;
}

.section-first{
  margin-bottom: 56px;
}
