* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 1110px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.page-header {
  padding-top: 38px;
  padding-bottom: 32px;
}

/* site logo*/
.site-logo {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-family: "Roboto";
  color: #555252;
}

.site-logo::first-letter {
  font-weight: bold;
  color: #1abc9c;
}

/* menu navigation  */
.site-navigation {
  display: block;
  width: 475px;
  float: right;
  margin-top: 9px;
}

.site-navigation li {
  list-style: none;
  float: left;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.site-navigation a:hover {
  color: #1abc9c;
}

.site-navigation a {
  text-decoration: none;
  color: #0f0101;
}
.site-navigation li:not(:last-child) {
  margin-right: 30px;
}
/* main section */
.main-section {
  background: #e9f0fd;
}
/* banner */
.banner {
  position: relative;
  height: 600px;
  background: url("../img/banner-image.jpg") no-repeat center;
}
/* bunner buttom */
.banner-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.banner-items {
  position: relative;
  top: 0px;
  left: 0px;
}
.banner-item-li {
  position: absolute;
  list-style: none;
  left: 50%;
  top: 216px;
  transform: translateX(-50%);
}
/* arrows-pagination */
.slider-ctrl {
  position: absolute;
  display: inline-block;
  background-color: rgb(26, 188, 156);
  width: 104px;
  height: 104px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}
.slider-ctrl-prev {
  background-image: url("../img/icon-arrow/icon-left.png");
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}
.slider-ctrl-next {
  background-image: url("../img/icon-arrow/icon-right.png");
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
}

/* END arrows-pagination */

/* text */
.sliders-text,
.sliders-header {
  font-family: "Roboto";
  color: #ffffff;
  width: 760px;
}
.sliders-header {
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 14px;
}
.sliders-text {
  font-size: 24px;
}
/* END TEXT */

/* header section */
.header-section {
  color: #515151;
  font-size: 48px;
  font-family: "Roboto";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}
.header-section::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  margin-top: 24px;
}
/* new-collection */
.new-collection {
  padding-top: 94px;
  padding-bottom: 80px;
}

/* products */

.products-list-item {
  list-style: none;
  float: left;
}
.products-list-item:hover .name {
  background: #1abc9c;
}
.products-list-item:hover .price {
  background: #7fd9c7;
}
.products-list-item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 30px;
}
.products-list-item:not(:nth-child(4n + 4)) {
  margin-right: 30px;
}

/* name and price */
.name,
.price {
  color: #ffffff;
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: bold;
}

.name {
  width: 200px;
  background: #323232;
  padding: 8px 0px 8px 12px;
}
.price {
  width: 55px;
  padding: 8px 0px 8px 0px;
  text-align: center;
  background: #8c8c8c;
}

.products-list-item {
  position: relative;
}
.products-list-item:hover .hover-icons {
  opacity: 1;
}

.hover-icons {
  background-image: url("../img/fon-cards.png");
  width: 255px;
  height: 282px;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 45px;
  padding-top: 80px;
  opacity: 0;
}
.hover-icons-item {
  list-style: none;
}
.image-icons-heart,
.image-icons-arrows,
.image-icons-clock {
  border: 1px solid #fff;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 8px;
  margin-bottom: 7px;
}
.image-icons-heart {
  background-image: url("../img/icon-cards/heart.png");
}
.image-icons-arrows {
  background-image: url("../img/icon-cards/two-arrows.png");
}
.image-icons-clock {
  background-image: url("../img/icon-cards/clock.png");
  margin-right: 0px;
}
.image-icons-truck {
  background-image: url("../img/icon-cards/truck.png");
  background-color: #323232;
  background-position-x: 12px;
  background-position-y: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  width: 166px;
  height: 50px;
  color: #fff;
}
.image-icons-heart:hover,
.image-icons-arrows:hover,
.image-icons-clock:hover,
.image-icons-truck:hover{
  background-color:#1abc9c;
  opacity: 1;
}



.footer-section {
  background-color: #323232;
  padding-top: 38px;
  padding-bottom: 32px;
}
.text-footer {
  font-size: 16px;
  font-family: "Open Sans";
  color: #fff;
  text-align: center;
}
.span-text {
  color: #46bfa9;
}
