.section__title {
  text-align: center;
  margin-bottom: 82px;
  @include font-mixin($font-monserat, $fz-logo-title, $text-transfotrm);
  @include color-fw($color-amazing-item, $text-bold);

  &::after {
    content: '';
    display: flex;
    width: 60px;
    height: 3px;
    background-color: $color-span;
    margin: 0 auto;
    margin-top: 38px;
  }
}
